#don't include google closure library
/js/closure-library
#don't include dojo
/js/dojo-toolkit
#don't include emacs backups or other version view files
*/#*#
*/*~
#don't include Sublime Text 2 project files
*.sublime-project
*.sublime-workspace